<div class="box2">
    <h1>Today's Highlight</h1>
    <div class="cards">
        <div class="items">
          <h2>Wind Speed</h2>
          <h4><%=speed%>mph</h4>
        </div>
        <div class="items">
          <h2>Pressure</h2>
          <h4><%=pressure%> hPa</h4>
        </div>
        <div class="items">
          <h2>Humidity</h2>
          <h4><%=humidity%>&percnt;</h4>
        </div>
        <div class="items">
          <h2>Visibility</h2>
          <h4><%=visibility%></h4>
        </div>
        <div class="items">
          <h2>Min-Temperature</h2>
          <h4><%=mintemp%>&deg;</h4>
        </div>
        <div class="items">
          <h2>Max-Temperature</h2>
          <h4><%=maxtemp%>&deg;</h4>
        </div>
      </div>
  </div>